
.side {
    border-left: 1px solid rgba($light-color, .5);
    height: 100vh;
    background: $primary-color-dark ;
    width: 80px;
    transition: width 0.3s;

    &__logo {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba($light-color, .5);
        justify-content: center;

        svg {
            color: $white-color;
            font-size: 50px;
        }

    }

    &__nav {

        &-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
        }

        &-item {

            a {
                display: block;
                padding: 12px;
                text-align: center;
                color: $white-color;
                span {
                    display: none;
                }
            }
        }

        &-item-hover {
            a {
                display: flex;
                padding: 12px 20px;
                text-align: right;
                color: $white-color;
                transition: all .3s;
                
                span {
                    display: block;
                }

                svg {
                    margin-left: 10px;
                    font-size: 25px;
                }

                &:hover {
                    background: $dark-color;
                }
            }
        }
    }

    &:hover {
        width: 200px;
    }
    
    &-active {
        width: 200px;
    }
}